/* Стили для контейнера */
.container {
    position: relative; /* Устанавливаем относительное позиционирование для контейнера */
}

/* Стили для кнопки "Выйти" */
.logout-btn {
    position: absolute; /* Позиционируем абсолютно */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
}