{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style_books.css' %}">
</head>
<body>

<form action="{% url 'search' %}" method="GET" role="search">
    <input type="search" type="text" name="q" placeholder="Поиск" aria-label="Search">
</form>
<br>

<form action="{% url 'person:login' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <button class="logout-btn" type="submit">Выйти</button>
</form>

<button><a href="/create_book/">Добавить книгу</a></button>

{% for i in book %}
<h1>{{i.name}}</h1>
{% for tag in i.tags.all %}
<p>{{tag.name}}</p>
{% endfor %}
<button><a href="/book_list/{{i.id}}">Подробнее</a></button>
{% endfor %}

<button><a href="/everyday_genre/">Повседневность</a></button>
<button><a href="/detective_genre/">Детектив</a></button>
<button><a href="/romantic_genre/">Романтика</a></button>
<button><a href="/mystic_genre/">Мистика</a></button>

</body>
</html>